* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                          config para  1rem = 10px                          */
/* -------------------------------------------------------------------------- */

html {
  font-size: 62.5%;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.9rem;
  background-color: #3d8a66;
  color: #e9fff9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

/*header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #317959;
  width: 100%;
}*/

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 3rem 0;
}

h2 {
  color: #e9fff9;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  margin: 3rem 0;
  padding: 3rem;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
  background-color: #22ee99;
}

header,
footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer {
  padding: 2rem;
}

.div-logo {
  margin-left: 2rem;
  font-weight: bold;
}

.logo,
.header-nav a {
  text-decoration: none;
  font-size: 2.5rem;
  color: inherit;
  display: inline-block;
  padding: 1.5rem;
}

.header-nav {
  margin: 1rem;
}

.header-nav ul,
footer .footer-list,
li {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.footer-list img {
  text-decoration: none;
  width: 5rem;
  padding: 0.5rem;
}

/* -------------------------------------------------------------------------- */
/*                                   colores                                  */
/* -------------------------------------------------------------------------- */

.bg-primario {
  background-color: #317959;
}

.bg-secundario {
  background-color: #1b4332;
}

/* -------------------------------------------------------------------------- */
/*                                   inicio                                   */
/* -------------------------------------------------------------------------- */
.inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.inicio h1 {
  width: 100%;
  text-align: center;
}

.parrafo {
  width: 80%;
  text-align: center;
  font-size: 2rem;
  padding: 3rem;
}

.area-productos {
  background-color: #3d725c;
  border-radius: 1rem;
  padding: 3rem;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.tarjeta {
  background-color: #255c45;
  width: 30rem;
  border-radius: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.tarjeta img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.fieldset-producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 2rem;
  justify-content: center;
}

.fieldset-producto input,
select,
button {
  margin: 1rem;
}

/* -------------------------------------------------------------------------- */
/*                                  Contacto                                  */
/* -------------------------------------------------------------------------- */
.fieldset-contacto {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 3rem;
  border-radius: 2rem;
  justify-content: center;
  margin: 0 4%;
}

.consulta {
  width: 80%;
}
